// property_element_section

//
// ---   APP  ----------------------------------------------------------------------------
//
@font_family_app: 'Overlock'; // don't forget to remove
@font_backup_style_app: sans-serif;
@color_bg_app: #d6e9ff;
@max_width_app: 900px;

//
// ---   APP HEADER  ----------------------------------------------------------------------
//
@font_family_name_app_header: 'Alegreya Sans SC';
@font_size_name_app_header: 2.7rem;
@font_weight_name_app_header: 700;
@font_family_job_app_header: 'Alegreya Sans SC';
@font_size_job_app_header: 1.5rem;
@font_weight_job_app_header: 400;
@font_family_details_app_header: 'Exo';
@font_size_details_app_header: initial;
@font_weight_details_app_header: 300;
@color_bg_app_header: #ffffff;
@padding_app_header: 1rem;
@distance_bottom_app_header: 3rem;
@min_height_app_header: 15rem;

//
// ---   MAIN SECTION  ---------------------------------------------------------------
//
@font_family_header_m_section: ;
@color_bg_m_section: @color_bg_app;
@thikness_lines_m_section: 1px;
@color_lines_m_section: red;
@distance_lines_horizontal_left: 1rem;
@distance_title_left_m_section: @distance_left_ll_section;
@height_header_m_section: 4rem;

//
// ---   LOW LEVEL SECTION  ---------------------------------------------------------------
//
@font_family_title_ll_section: ;
@font_family_text_ll_section: ;
@color_bg_ll_section: @color_bg_app_header;
@padding_ll_section: @padding_app_header;
@distance_left_ll_section: 1.5rem;
@distance_right_ll_section: @distance_lines_horizontal_left;
@distance_in_between_ll_section: 1rem;
