// property_element_section

//
// ---   APP  ----------------------------------------------------------------------------
//
@font_family_app: 'Overlock';
@font_backup_style_app: sans-serif;
@color_bg_app: #d6e9ff;
@max_width_app: 900px;

//
// ---   APP HEADER  ----------------------------------------------------------------------
//
@color_bg_app_header: #ffffff;
@padding_app_header: 1rem;

//
// ---   MAIN SECTION  ---------------------------------------------------------------
//
@color_bg_m_section: @color_bg_app;
@thikness_lines_m_section: 1px;
@color_lines_m_section: red;
@distance_lines_horizontal_left: 1rem;
@distance_title_left_m_section: @distance_left_ll_section;
@height_header_m_section: 4rem;

//
// ---   LOW LEVEL SECTION  ---------------------------------------------------------------
//
@color_bg_ll_section: @color_bg_app_header;
@padding_ll_section: @padding_app_header;
@distance_left_ll_section: 1.5rem;
@distance_right_ll_section: @distance_lines_horizontal_left;
@distance_in_between_ll_section: 1rem;
